---
const year = new Date().getFullYear();
---

<footer class="border-t border-black/5 px-6 md:px-12 py-5">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6"
  >
    <a
      href="/"
      class="text-xl font-bold font-clash tracking-tight hover:text-accent-orange transition-colors duration-300"
    >
      JR
    </a>
    <p class="text-sm text-copy/30 order-3 md:order-2">
      &copy; {year} Julián Recarte
    </p>

  </div>
</footer>
